input {
      font: 60px Georgia, serif;
      width: 700px;
      /*height: 25px;*/
      text-align: center;
      background: none;
      /*border: none;*/
      color: white;
      /*font-size: 60px !important;*/
      border-top: none !important;
      border-left: none  !important;
      border-right: none  !important;
}

input {border : 1px solid #fff;margin:0; font-size:60px; }



body {
  background-image: url("https://picsum.photos/1000/500/?random");
  background-repeat: no-repeat;;
  background-size: cover;

}

button {
  background: none;
  border: none;
}
h1 {
  text-align: center;
  color: white !important;
  font-weight: 400 !important;
  font-size: 90px !important;

}

h3 {
  color: white !important;
  font-size: 20px !important;
  font-style: italic !important;
  text-align: center !important;
}
/*2225570220.9d28d1b.d484a0be367540b5a892050a47c08d3b*/

.title {
  font-size: 60px;
  padding: 100px;
  text-align: center;
}

input:focus {
    outline:none !important;
}

button:focus {
    outline:none !important;
}
/*
.card-text {
  padding-bottom: 10px;
}

.card-btn {
  padding-top: 10px;
}*/

.card {
  border-radius: 10px !important;
  border: none !important;
  background: none !important;
  color: white !important;
}

.textData {
  width: 700px;
  text-align: center;
  background: none;
  /*border: none;*/
  color: white;
  font-size: 60px !important;
  border-top: none;
  border-left: none;
  border-right: none;



}

.communityQuotes {
  padding-top: 100px;
  padding-left: 150px;
  font-style: italic;
}
.personalQuotes {
  padding-left: 150px;

}

/*
.card-text{
	float: left;
	vertical-align: text-top;
    height: 65px;
}*/

input {border : 1px solid #fff;margin:0; font-size:20px; }

/*input:focus,input:active,input:hover { outline: 1px solid #eee; background-color:#eee; }*/
select { border: 1px solid #fff; margin:0; padding:0; font-size:60px; border:0;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

table { border : 1px solid #999; border-collapse:collapse;border-spacing:0; }
table td { padding:0; margin:0;border:1px solid #999; }
table th { background-color: #aaa; min-width:20px;border:1px solid #999; }
